<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/structure.css">
    <link rel="stylesheet" href="../styles/curent.css">
    <link rel="stylesheet" href="../styles/daily.css">
</head>
<body>
    <div id="MainBody">
        <nav>
            <h1>Indianapolis Weather</h1>
        </nav>
        
        <div id="curentContaner">
            <div id="curentTitle">
                <h2>Monday, April 27, 2026</h2>
            </div>
            <div id="curentDashbored">
                <div id="curentCondition" class="curentDashTile">

                    <img id="consitionImg" src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                    <h3>Light Rain</h3>
                </div>

                <div id="curentTemp" class="curentDashTile">
                    <h1>72°F</h1>
                    <div id="tempFeel">
                        <h2>Fells Like</h2>
                        <h2>68°F</h2>
                    </div>
                    <h3>Hight: 75°F</h3>
                    <h3>Low: 65°F</h3>
                </div>

                <div id="curentMesures" class="curentDashTile">
                    <div id="curentHumidity" class="CurMesBar">
                        <h2>Humidity</h2>
                        <h2>80%</h2>
                    </div>

                    <div id="curentWindSpeed" class="CurMesBar">
                        <h2>Wind</h2>
                        <h2>10 mph</h2>
                    </div>

                    <div id="curentWindDirection" class="CurMesBar">
                        <h2>Wind Direction</h2>
                        <h2>360</h2>
                    </div>

                    <div id="curentSun" class="CurMesBar">
                        <div id="sunRiseBox">
                            <img src="../images/sunrise.png" alt="">
                            <h3>Sunrise</h3>
                            <h3>6:45 AM</h3>
                        </div>
                        <div id="sunSetBox">
                            <img src="../images/sunset.png" alt="">
                            <h3>Sunset</h3>
                            <h3>7:30 PM</h3>
                        </div>
                    </div>

                </div>
            </div>
            <div id="curentHourly">

                <div class="curHourTile">
                    <h3>9:00 AM</h3>
                    <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                    <h3>Light Rain</h3>
                    <h3>68°F</h3>
                </div>
                <div class="curHourTile">
                    <h3>9:00 AM</h3>
                    <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                    <h3>Light Rain</h3>
                    <h3>68°F</h3>
                </div>
            </div>
        </div>

        <div id="dailyHourly">


            <div class="dayBar">
                <h2>Monday April 27, 2026</h2>
                <div class="dayHourBar">
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                </div>
                
            </div>

            <div class="dayBar">
                <h2>Monday April 27, 2026</h2>
                <div class="dayHourBar">
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                </div>
            
            </div>

            <div class="dayBar">
                <h2>Monday April 27, 2026</h2>
                <div class="dayHourBar">
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                </div>
            
            </div>

            <div class="dayBar">
                <h2>Monday April 27, 2026</h2>
                <div class="dayHourBar">
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                    <div class="dayHourTile">
                        <h3>9:00 AM</h3>
                        <img src="https://openweathermap.org/payload/api/media/file/10d%402x.png" alt="">
                        <h3>Light Rain</h3>
                        <h3>68°F</h3>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</body>
<script type="module" src="../app/app.js"></script>
<script type = 'module' src="../app/apiCall.js"></script>
<script type = 'module' src="../app/currentClass.js"></script>
<script type = 'module' src="../app/dayHourClass.js"></script>
</html>